.table>tbody>tr>td,
.table>tbody>tr>th{
	border-top: none; 
} .vote-content{padding-top:10%;} .beside-sidenav{padding-top: 10%;padding-left: 260px;}

/*.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}*/
	.footer{position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
/*side navigator styling*/
.side-nav{
  width:240px;
  position:fixed;
  height:100%;
  left:0;
  top:0;
  overflow-y: auto;
  background: #2e6da4; 
  color: rgba(255, 255, 255, 0.75);
  padding-top:5px;
  box-sizing: border-box;
  z-index:999;
  transition:all 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}
.side-nav li a{
  //border-bottom:1px solid #222c31;
  border-bottom:1px solid #ccc;
  padding:12px 18px;
  color:#eee;
  transition:all 0.3s ease-in-out;
  position:relative;
}
.side-nav li a:hover{
 background: #1c1d26;
  text-shadow: 1px 2px 5px rgba(0,0,0,0.9);
}
.side-nav li a:before{
  content: '';
  position:absolute;
  left:0;
  bottom:0;
  height:0;
  width:100%;
  transition:all 0.7s ease-in;
  border-left:2px solid #dd5347;
  background:transparent;
}
.side-nav li a:hover::before{
  height:100%;
}
.side-nav li a:last-child{
  //border-bottom: none;
}
.side-nav-logo{
  padding:8px 10px;
  border-bottom:2px solid #161d21;
}
.side-nav-logo h3{
  color:#eee;
}
.side-nav-logo h6{
  color:#dd5347;
}